h1, h2{
    text-align: center;
}

h2{
    font-size: 1.2rem;
}
.container{
    margin-top: 6rem;
    margin-bottom: 3rem;
    max-width: 70%;
}
.serie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    padding-top: 3rem;
}

.photo{
    max-width: 100%;
}