h2{
    font-size: 1.2rem;
    text-align: center;
}

.serieTitle{
    text-align: center;
}


.container{
    margin-top: 6rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.serie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    padding-top: 3rem;
}

.photo{
    max-width: 100%;
}

.unit{
    border: 1px solid black;
}

@media screen and (max-width: 900px){
    .serie{
        display: block;        
        padding-top: 3rem;
    }

    .unit{
        border: 1px solid black;
        margin-bottom: 3rem;
    }

}