
.page-header{
    text-align: center;
}


.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    max-width: 80%;
}

.one{
    border-right: 1px solid black;

    justify-self: center;

    padding-left: 2rem;
    padding-right: 2rem;
}
.two{

    padding-left: 2rem;
    padding-right: 2rem;
}


.add-info{
    font-size: 1.2em;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 3rem;

    margin-top: 3rem;
    margin-bottom: 3rem;
}
.material-icons-outlined {
    
    margin-right: 1rem;
    justify-self: center;
    align-self: center;

}

.info {
    grid-column: 2 / span 3;
    align-self: center;
}

.contact-link {
    text-decoration: none;
    color: black;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "n e" "p s" "m m";

    gap: 2rem;
    padding: 2rem;

}

.name {
    grid-area: n;
}
.email {
    grid-area: e;
}
.phone {
    grid-area: p;
}
.sub {
    grid-area: s;
}
.msg {
    grid-area: m;
}