.cv-content h1, p {
  text-align: center;
}

.cv-content {
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}


.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 3rem 6rem;
  max-height: 100vh;
}

.wrapped_content {
  max-width: 100%;
  height: auto;
}
.wrp_img {
  max-width: 100%;
}
.wrp_text {
  position: relative;
  margin-top: -70%;

  text-align: center;
}


@media screen and (max-width: 992px) {
  p{
    font-size: 1em;
  }
  
  .cv-content {
    margin-top: 6rem;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }

  .group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 3rem 6rem;
    max-height: 100vh;
  }

  .wrapped_content {
    position: absolute;
    height: auto;
    margin: 1rem;
  }

  .wrp_text {
    position: relative;
    margin-top: -95%;
    text-align: center;
  }
  
}