@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,600&display=swap);

html {
  font-family: 'Open Sans',sans-serif;
  position: relative;
}

header {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0; 
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
h1 {
    font-size: 2em;
    margin: 0;
}

.logo {
  margin: 0.5em;
  padding-left: 0.5rem;
}

.menu {
  list-style-type: none;
  display:inline-flex;
  padding-right: 1rem;
}

.li-menu { 
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.link-menu {
  color: white;
  text-decoration: none;
  display: block;
}

.p-footer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}